#background{
    top:0px; 
	height:10%;
	width:65%;

}

.main_menu{

display: block;
 width:20%;
 border: 2px solid #73AD21;
 background-color:#CD557C;
}


div.cn {
    position: relative;
    height: 100%;
}

div.inner {
    position: absolute;
    top: 60%; left: 50%;
    transform: translate(-50%,-50%);
}


div.inner p{

font-size:30px;
padding-bottom:10px;
}




/*
@media screen and (max-width: 100px) {

	div.inner p{

		font-size:33px;
		padding-bottom:13px;
	}

	
}


@media screen and (max-width: 0px) {

	div.inner p{

		font-size:3px;
		padding-bottom:1px;
	}

	
}

*/



/*
@media screen and (min-width: 0px) {

	div.cn {
		position: relative;
		width: 500px;
		height: 100%;
	}

	div.inner {
		position: absolute;
		top: 60%; left: 50%;
		transform: translate(-50%,-50%);
	}
	
	div.inner p{

		font-size:25px;
		padding-bottom:20px;
	}
	
}
*/