td input[type=text]{

}

td input[type=password]{

}





#registration_table td  {
	

}

#registration_table td span {
	
		font-size:16px;
		/* color:yellow; */

}



#registration_table td:nth-child(2) {
	
	padding-right:30px;
	text-align: left;


}

#registration_table td:nth-child(3) {

	padding-top:10px;
	width: 10px;


}

#registration_table td:nth-child(4) {

	padding-top:10px;

}


#registration_table td:nth-child(5) {

	padding-top:10px;

}


.small_font_size{
	
	font-size:10px;
	font-weight: bold;

}

#heart_img{
	/*
	width:400px;
	height:500px;
	*/
}
